# Local or Cloud MySQL Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=harvest_hotel
DB_PORT=3306
DB_SSL=false

# Port for the Node server (Render automatically sets PORT)
PORT=3000
